<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="UrbanLadderSuite">

    <test name="Module">
        <classes>
            <class name="bookshelves.TC_01_BookshelvesSearchTest"/>
            <class name="bookshelves.TC_02_FilterByPriceBelow15000Test"/>
            <class name="bookshelves.TC_03_FilterByStorageTypeOpenTest"/>
            <class name="bookshelves.TC_04_BookshelfPriceAnalyticsTest"/>
            <class name="bookshelves.TC_05_BookshelfNameAndPriceDisplayTestOfThree"/>
            <class name="bookshelves.TC_06_NavigateToFirstProductTest"/>
            <class name="bookshelves.TC_07_VerifyBookshelvesCountForEngineeredWoodFiltersTest"/>
            <class name="bookshelves.TC_08_SortByDiscountHighToLowAndExtractTop20ProductsTest"/>
            <class name="studychairs.TC_11_SearchStudyChairsTest"/>
            <class name="collections.TC_16_MouseHoverOnNewArrivalsTest"/>
            <class name="collections.TC_17_ExtractSubMenuItemsTest"/>
            <class name="collections.TC_19_NavigateToBedroomUnderOasisTest"/>
            <class name="collections.TC_20_GetNoOfBedroomCollection"/>
            <class name="giftcards.TC_21_NavigateToGiftCardsTest"/>
            <class name="giftcards.TC_22_SelectAnniversaryGiftCardTest"/>
            <class name="giftcards.TC_23_FillGiftCardFormTest"/>
            <class name="giftcards.TC_24_CaptureInvalidEmailValidationTest"/>
        </classes>
    </test>

</suite>